<a href="/cart" id="cart-products-count" class="site-header_cart_link">                    
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag">
    <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
  {% if cart.item_count > 0 %}
  <div id="CartCount_sticky" class="site-header__cart-count" title="Cart" >
    <span class="cart-products-count" aria-hidden="true">{{ cart.item_count }}</span><span class="cart-products-detail">{{ 'general.header.cart_title' | t }}</span>  
    <span class="price">{{cart.total_price | money}}</span>
  </div>
  {% else %}
  <div id="CartCount_sticky" class="site-header__cart-count">
    <span class="cart-products-count" aria-hidden="true">0</span><span class="cart-products-detail">{{ 'general.header.cart_title' | t }}</span>   
    <span class="price">{{cart.total_price | money}}</span>
  </div>
  {% endif %}
</a>