<style>
  #ttcmsservices{
    background: {{ section.settings.bg_color }};
  }
  #ttcmsservices .ttcontent .service-title{color: {{ section.settings.title_color }};}
  #ttcmsservices .ttcontent:hover .content .service-title {color: {{ section.settings.title_hover_color }};}
  #ttcmsservices .ttcontent .service-desc{color: {{ section.settings.desc_color }};}
</style>
{% if section.blocks.size > 0 %} 
<div id="ttcmsservices" class="ttservice" {% if settings.enable_animation != blank %} data-aos="fade-up" {% endif %}>  
  <div class="container">  
    <div class="block_content owl-carousel" style="display: block;">
      {% for block in section.blocks %}      
      <div class="ttcontent">
        <div class="service">
          <div id="icon-{{ block.id }}" class="ttshipping_img service-icon">
            <img loading="lazy" height="50px" width="50px" src="{{ block.settings.service_icon | img_url: "50x50"  }}" alt="service img" />
          </div>
          <div class="content">
            <div class="service-title">{{  block.settings.title }}</div>
            <div class="service-desc">{{  block.settings.desc }}</div>
          </div>
        </div>
      </div>   
      {% endfor %}
    </div>   
  </div>  
</div>
<style>
  .service-offer .offer-img{background:{{ section.settings.offer_bg }};}
  .service-offer .title{color:{{ section.settings.offer_text_color }};}
</style>
{% endif %}
{% schema %}
{
"name": "CMS Services",
"class":"index-section ttservices",
"settings": [
{
"type": "header",
"content": "Services"
},
{
"type": "color",
"id": "bg_color",
"label": "background Color",
"default":"#000"
},
{
"type": "color",
"id": "title_color",
"label": "Title Color",
"default":"#000"
},
{
"type": "color",
"id": "title_hover_color",
"label": "Title Hover Color",
"default":"#fc9f22"
},
{
"type": "color",
"id": "desc_color",
"label": "Description Color",
"default":"#666"
}
],
"blocks": [
{
"type": "s_text",
"name": "services",
"settings": [
{
"type": "image_picker",
"id": "service_icon",
"label": "Service Icon",
"info": "Size: 65x65"
},
{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "text",
"id": "desc",
"label": "Description"
}
]
}
],
"presets": [
{
"name": "CMS Services",
"category": "TT CMS section",
"blocks": [
{
"type": "s_text",
"settings": {
"title": "FREE SHIPPING"
}
},
{
"type": "s_text",
"settings": {
"title": "24/7 SUPPORT"
}
},
{
"type": "s_text",
"settings": {
"title": "BIG SAVING"
}
},      
{
"type": "s_text",
"settings": {
"title": "ONLINE PAYMENT"
}
} 
]
}
]
}
{% endschema %}