<style>
  .right-banner .rightbanner-block .banner-description .title{color:{{ section.settings.title_color }};}
  .right-banner .rightbanner-block .banner-description .subtitle{color:{{ section.settings.subtitle_color }};}
  .right-banner .rightbanner-block .banner-description .price_desc{color:{{ section.settings.pricedesc_color }};}
  .right-banner .rightbanner-block .banner-description .price{color:{{ section.settings.price_color }};}
</style>
<div class="rightbanner-block"">
  <a href="#"><img loading="lazy" src="{{ section.settings.right_banner | img_url : 'master' }}"/></a>
  <div class="banner-description">
    {% if section.settings.subtitle !="" %}
    <div class="subtitle">{{ section.settings.subtitle }}</div>
    {% endif %}   
    {% if section.settings.title !="" %}
    <div class="title">{{ section.settings.title }}</div>
    {% endif %} 
    {% if section.settings.price_desc !="" %}
    <div class="price_desc">{{ section.settings.price_desc }}<span class="price">{{ section.settings.price }}</span></div>
    {% endif %}
  </div> 
</div>
{% schema %}
{
"name": "right Banner",
"class": "right-banner col-sm-6 col-xs-6",
"settings": [
{
"type": "image_picker",
"id": "right_banner",
"label": "Image"
},
{
"type": "text",
"id": "title",
"label": "Title",
"default":"exclusive"
},
{
"type": "text",
"id": "subtitle",
"label": "Sub Title",
"default":"exclusive"
},
{
"type": "text",
"id": "price_desc",
"label": "Price Description",
"default":"from"
},
{
"type": "text",
"id": "price",
"label": "Price"
},
{
"type": "color",
"id": "title_color",
"label": "Title Color",
"default":"#111"
},
{
"type": "color",
"id": "subtitle_color",
"label": "sub Title Color",
"default":"#111"
},
{
"type": "color",
"id": "pricedesc_color",
"label": "Price Description Color",
"default":"#111"
},
{
"type": "color",
"id": "price_color",
"label": "Price Color",
"default":"#111"
}
],
"presets": [
{
"name": "right Banner",
"category": "right Banner"
}
]
}
{% endschema %}