<style>
  .topheader-banner .ttcmstopbanner .topbanner-content .title{color:{{ section.settings.banner_title_color }};}
  .topheader-banner .ttcmstopbanner .topbanner-content .subtitle{color:{{ section.settings.banner_subtitle_color }};}
  .topheader-banner .ttcmstopbanner .topbanner-content .price{color:{{ section.settings.banner_price_color }};}
</style>
{% if section.settings.show_topbanner %}
<div class="ttcmstopbanner">
  {% if section.settings.banner_image != blank %}
  <a href="{% if section.settings.banner_link != blank %}{{section.settings.banner_link }}{% else %}#{% endif %}"><img loading="lazy" src="{{  section.settings.banner_image | img_url: 'master' }}" alt="topheader-banner" /></a>
  {% else %}
  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  {% endif %}     
  <div class="topbanner-content">
    {% if section.settings.banner_title != blank %}<div class="title">{{ section.settings.banner_title }}</div>{% endif %}              
    {% if section.settings.banner_subtitle != blank %}<div class="subtitle">{{ section.settings.banner_subtitle }}</div>{% endif %}      
    {% if section.settings.banner_price != blank %}<div class="price">{{ section.settings.banner_price }}</div>{% endif %}              
  </div>
  <div class="headerbanner-close"><a href="#"></a></div>
</div>
{% endif %}
{% schema %}
{
"name": "Topheader Banner",
"class": "index-section topheader-banner",
"settings": [
{
"type": "checkbox",
"id": "show_topbanner",
"label": "Show Top Banner"
},
{
"type": "image_picker",
"id": "banner_image",
"label": "Image"
},
{
"type": "url",
"id": "banner_link",
"label": "Banner link"
},
{
"type": "color",
"id": "banner_bg",
"label": "banner background color",
"default": "#f4f3f0"
},
{
"type": "text",
"id": "banner_title",
"label": "Banner title"
},
{
"type": "color",
"id": "banner_title_color",
"label": "Banner title color"
},
{
"type": "text",
"id": "banner_subtitle",
"label": "Banner subtitle"
},
{
"type": "color",
"id": "banner_subtitle_color",
"label": "Banner subtitle color",
"default": "#000"
},
{
"type": "text",
"id": "banner_price",
"label": "Banner Price"
},
{
"type": "color",
"id": "banner_price_color",
"label": "Banner Price color"
}
],
"presets": [
{
"name": "Topheader Banner",
"category": "Image"
}
]
}
{% endschema %}